<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelicula</title>
</head>
<body>
    <div>
        <form action="registrar" method="post">
            <div>
                <label for="nombre">Nombre</label>
                <input name="nombre" required value="{{ request.form.nombre }}">
            </div>
            <div>
                <label for="genero">Genero</label>
                <input name="genero" required value="{{ request.form.genero }}">
            </div>
            <div>
                <label for="duracion">Duracion</label>
                <input type="number" name="duracion" required value="{{ request.form.duracion }}">
            </div>
            <div>
                <label for="inventario">Inventario</label>
                <input type="number" name="inventario" required value="{{ request.form.inventario }}">
            </div>
            <input type="submit" value="Registrar">
        </form>
    </div>
    <div>
        <table>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Genero</td>
            <td>Duracion</td>
            <td>Inventario</td>
        </tr>
        {% if peliculas%}
            {% for pelicula in peliculas%}
                <tr>
                    <td>{{pelicula.idPelicula}}</td>
                    <td>{{pelicula.nombre}}</td>
                    <td>{{pelicula.genero}}</td>
                    <td>{{pelicula.duracion}}</td>
                    <td>{{pelicula.inventario}}</td>
                    <td><a href="{{url_for('movie.actualizar_pelicula', id=pelicula.idPelicula)}}">Edit</a></td>
                    <td><a href="{{url_for('movie.eliminar_pelicula', id=pelicula.idPelicula)}}">Delete</a></td>
                </tr>
            {%endfor%}
        {% endif%}
        </table>
    </div>
    <div>
        {% if pelicula%}
        <form action="actualizar" method="post">
            <div>
                <label for="id"></label>
                <input type="hidden" name="id" value="{{ pelicula.idPelicula }}">
            </div>
            <div>
                <label for="nombre">Nombre</label>
                <input name="nombre" required value="{{ pelicula.nombre }}">
            </div>
            <div>
                <label for="genero">Genero</label>
                <input name="genero" required value="{{ pelicula.genero }}">
            </div>
            <div>
                <label for="duracion">Duracion</label>
                <input type="number" name="duracion" required value="{{ pelicula.duracion }}">
            </div>
            <div>
                <label for="inventario">Inventario</label>
                <input type="number" name="inventario" required value="{{ pelicula.inventario }}">
            </div>
            <input type="submit" value="Actualizar">
        </form>
        {%endif%}
    </div>
</body>
</html>