<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Usuario</title>
</head>
<body>
    {% if usuario%}
    <form action="/user/actualizar" method="post">
        <label for="nombre">Nombre</label>
        <input name="nombre" required value="{{ usuario.nombre }}">

        <label for="correo">Correo</label>
        <input type="email" name="correo" required value="{{ usuario.email }}">

        <label for="id"></label>
        <input type="hidden" name="id" value="{{ usuario.idUsuario }}">
        <input type="submit" value="Actualizar">
    </form>
    {% else %}
        {% with messages = get_flashed_messages()%}
        {% if messages%}
            <h1 style = "color: red;">{{messages[0]}}</h1>
        {% endif%}
        <form action="" method="get">
            <label for="id">idUsuario</label>
            <input name="id" required value="{{ request.args.id }}">
            <input type="submit" value="Registrar">
        </form>
        {%endwith%}
    {%endif%}
</body>
</html>