<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <div>
        <form action="registrar" method="post">
            <div>
                <label for="nombre">Nombre</label>
                <input name="nombre" required value="{{ request.form.nombre }}">
            </div>
            <div>
                <label for="correo">Correo</label>
                <input type="email" name="correo" required value="{{ request.form.correo }}">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="passwd" required value="{{ request.form.passwd }}">
            </div>
            <input type="submit" value="Registrar">
        </form>
    </div>
    <div>
        <table>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Correo</td>
        </tr>
        {% if usuarios%}
            {% for usuario in usuarios%}
                <tr>
                    <td>{{usuario.idUsuario}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.email}}</td>
                    <td><a href="{{url_for('user.actualizar_usuario', id=usuario.idUsuario)}}">edit</a></td>
                    <td><a href="{{url_for('user.eliminar_usuario', id=usuario.idUsuario)}}">Delete</a></td>
                </tr>
            {%endfor%}
        {% endif%}
        </table>
    </div>
    <div>
        {% if usuario%}
        <form action="actualizar" method="post">
            <label for="id"></label>
            <input type="hidden" name="id" value="{{ usuario.idUsuario }}">

            <label for="nombre">Nombre</label>
            <input name="nombre" required value="{{ usuario.nombre }}">
    
            <label for="correo">Correo</label>
            <input type="email" name="correo" required value="{{ usuario.email }}">
    
            <input type="submit" value="Actualizar">
        </form>
        {%endif%}
    </div>
</body>
</html>